body {
    max-width: 2000px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(252, 252, 244);
}

header {
    background-color: rgb(57, 57, 61);
    height: 10vh;
    width: 100vw;
    color: #fff;
    letter-spacing: 0.1em;
    padding-top: 2%;
    letter-spacing: 0.2em;
}

header ul {
    list-style-type: none;
    padding-bottom: 1%;
    font-weight: 600;
}

li:first-child {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

li {
    display: inline;
    padding-right: 4%;
}

li:first-of-type {
    color: rgb(216, 50, 50);
}

a {
    text-decoration: none;
    color: #fff;
    display: inline;
}

/*------------ FILM BOXES -----------*/
.big-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.box  {
    width: 260px;
    height: 400px;
    margin: 12px;
    flex-grow: 1;
}

.box img {
    width: 100%;
    margin: 5px;
}

.small-container {
    display: flex;
    justify-content: center;
}

/*--------- expend the last two boxes-------*/
@media (min-width: 1500px) {
    .small-container .box img {
        flex-grow: 2;
    }
}

/*-------- just show ArnieBOX in the middle of the header/nav -------*/
@media (max-width: 700px) {
    li + li {
        display: none;
    }

    li:first-of-type {
        margin-left: 28%;
    }
}
